<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415882369264-ell4apmsos6d93k1gfbnlicrt83dlokh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415882369264-ell4apmsos6d93k1gfbnlicrt83dlokh</string>
	<key>API_KEY</key>
	<string>AIzaSyAXJVoR1zdbzjUfm5eSkZAKq_VBRnvdjsg</string>
	<key>GCM_SENDER_ID</key>
	<string>415882369264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pespinel.BusVal</string>
	<key>PROJECT_ID</key>
	<string>busval-9f7b4</string>
	<key>STORAGE_BUCKET</key>
	<string>busval-9f7b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415882369264:ios:4562940e0cc17ff6784a35</string>
</dict>
</plist>