<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>busval</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>auvasa</key>
			<string>http://auvasa.es/</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>BusVal necesita acceder a tu ubicación para mostrarte las paradas cercanas.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>BusVal necesita acceder a tu ubicación para mostrarte las paradas cercanas.</string>
    <key>NSLocationAlwaysAndWhenInUsageDescription</key>
    <string>BusVal necesita acceder a tu ubicación para mostrarte las paradas cercanas.</string>
    <key>NSLocationUsageDescription</key>
    <string>BusVal necesita acceder a tu ubicación para mostrarte las paradas cercanas.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>BusVal necesita acceder a tu ubicación para mostrarte las paradas cercanas.</string>
</dict>
</plist>
